<h1>Listing users</h1>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th colspan="1">Name</th>
    <th colspan="1">Description</th>
    <th colspan="1">lat_long</th>
  </tr>
  <% @activities.each do |activity|%>
      <tr>
        <td><%= activity.name%></td>
        <td><%= activity.description%></td>
        <td><%= activity.lat_long%></td>
        <td><%= link_to 'Show', activity , class: "btn btn-default btn-primary"%></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) , class: "btn btn-default btn-primary"%></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default btn-primary"%></td>
      </tr>
  <% end %>
</table>

